<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add message</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Nav header -->
<div>
    <nav class="navbar navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="/">Messaging App</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item text-light">
                    <span class="nav-link text-white"
                          th:text="${'Welcome, ' + user.firstName + ' ' + user.lastName + '!'}"></span>
                </li>

                <li class="nav-item text-light active">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>

                <li class="nav-item text-light">
                    <a class="nav-link text-white" href="/addMessage">New Message</a>
                </li>
                <li class="nav-item text-light">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container bg-light">
    <h2>Add New Message</h2>

    <form action="#"
          th:action="@{/processMessage}"
          th:object="${message}"
          method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="inputText">Enter message:</label>
            <textarea th:field="*{text}"
                      class="form-control" id="inputText" placeholder="Message Text" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="inputDate">Post Date:</label>
            <input th:field="*{date}" type="date" class="form-control" id="inputDate">
        </div>

        <div class="form-group">
            <label for="inputSentBy">Sent By:</label>
            <input th:field="*{sentBy}" type="text" class="form-control" id="inputSentBy">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<footer class="navbar navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <span class="mr-auto"></span>
    <div class="text-muted">
        <h6>© 2018 Irina Smirnova</h6>
    </div>
</footer>
</body>
</html>