<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>
<form action="#"
      th:action="@{/processUser}"
      th:object="${user}"
      method="post">
    <input type="hidden" th:field="*{id}"/>

    First Name:
    <input type="text" th:field="*{firstName}"/>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br/>

    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br/>

    EMail:
    <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>

    Username:
    <input type="text" th:field="*{username}"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br/>

    Password:
    <input type="text" th:field="*{password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br/>

    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>