<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Nav header -->
<div>
    <nav class="navbar navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="/">Messaging App</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item text-light">
                    <span class="nav-link text-white"
                          th:text="${'Welcome, ' + user.firstName + ' ' + user.lastName + '!'}"></span>
                </li>

                <li class="nav-item text-light active">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>

                <li class="nav-item text-light">
                    <a class="nav-link text-white" href="/addMessage">New Message</a>
                </li>
                <li class="nav-item text-light">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1 class="text-center">Welcome to Messaging App!</h1>
</div>

<div class="container">
    <h2 class="text-center py-3 pl-4 pr-5">List of Messages</h2>
    <div align="center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Content</th>
                <th scope="col">Sent By</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message: ${messages}">
                <td th:text="${message.text}"></td>
                <td th:text="${message.sentBy}"></td>
                <td th:text="${message.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="navbar navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <span class="mr-auto"></span>
    <div class="text-muted">
        <h6>© 2018 Irina Smirnova</h6>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>